.container {
  background-color: rgb(223, 206, 206);
}

.menu {
  padding: 1rem 0;
}

.marketing-site-three-up {
  text-align: center;
  padding: 2rem 0;
}

.marketing-site-three-up .row {
  max-width: 900px;
}

.marketing-site-three-up .columns {
  margin-bottom: 1rem;
}

@media screen and (min-width: 40em) {
  .marketing-site-three-up .columns {
    margin-bottom: 0;
  }
}

.marketing-site-three-up .fa {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #1779ba;
}

.marketing-site-three-up-headline {
  margin-bottom: 2rem;
  font-size: 24px;
  float: none;
}


  