body {
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 1% 5%;
}

.search-bar {
    margin-top: 10px;
    margin-bottom: 30px;

}

.name {
    margin-top: inherit;
    text-shadow: 5px 5px 5px grey;
}

.txHead {
    font-family: 'Montserrat Alternates', sans-serif;
    color: black;
    text-align: center;
    font-size: 120px;
    padding: 10px;
    margin: 10px;
}

.inline {
    margin: 50px 50px;
}


#searchCocktails {

    box-shadow: 5px 5px 5px grey;
    font-family: 'Montserrat Alternates', sans-serif;

}

#recipeBtn {
    box-shadow: 5px 5px 5px grey;
    font-family: 'Montserrat Alternates', sans-serif;

}

.image {
    size: 10px;

}


footer {
    background-color: white;
    margin-top: 10px;
    margin: 20px;
    margin-bottom: 0;
}

.heart {
    max-width: 200px;
    margin-top: -100px;
}

#subtitle   {
    font-size: 24px;
    text-align: center;
    margin-top: 40px;
}

.buttons {
    padding: 50px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.martini {
    max-width: 100px;
    margin: 15px;
}

.kitchen {
    max-width: 100px;
    margin: 15px;
}

#results {
    margin: 100px;
    font-family: 'Montserrat Alternates', sans-serif;
}

h4, h2  {
    font-family: 'Montserrat Alternates', sans-serif;
}

#userInput {
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 50px 30px 30px 30px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .name   {
        font-size: 50px;
     
    }

    .heart  {
        margin: auto;
    }

    #subtitle   {
        font-size: 20px;
        margin-top: 20px;
    }

    #userInput  {
        width: 90%;
        margin: auto;
    }

    .buttons    {
        justify-content: center;
    }
    button    {
        text-align: center;
        width: 75%;
        margin: auto;
    }
    .martini, .kitchen  {
        margin: auto;
        padding: 8px;
    }

    #searchCocktails    {
        border-right: rgb(119, 119, 119) solid 2px;
    }


}