#nav    {
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}
.container {
    background-color: whitesmoke;
    padding: 70px;
    margin-top: 30px;

} 

p1 {
    font-size: 75px;
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: bold;
    
}

p {
    font-size: 28px;
    font-family: 'Baloo Thambi 2', cursive;
    color: black;
}

p2 {
    font-size: 28px;
    font-family: 'Baloo Thambi 2', cursive;
    color: black;
}

.fa-hand-paper {
    font-size: 200px;
    color:#36DDFF;
    
}

.fa-utensils {
    font-size: 90px;
    color: #36DDFF;
}

.fa-cocktail {
    font-size: 90px;
    color: #36DDFF;
}

.button {
    box-shadow: 2.5px 2.5px 2.5px 2.5px gray !important;
}

/* THIRSTY PAGE CSS */
#thirstyPage    {
    display: none;
}

/* HUNGRY PAGE CSS */
#hungryPage {
    display: none;
}